{% extends 'layout.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
        <section class="container container--top">
            <h1>
                GASs
            </h1>
            <h2> Goals | Achievemnets | Sucesses</h2>
            <p>Take things step by step, and trust that everything will work out well in the future.</p>
            <p>to create a tasks list click on the button</p>
            <div class="row">
                <button class="lime-sun-btn" type="button">
                    <a href="/mtable">make a Table</a>
                </button>
            </div>
        </section>
        <section class="container">
        <h2>Achievemnets</h2>
        <p>Achievements you've already achieved🎉🎉🎉</p>
        </section>

        <!-- BOTTOM RIGHT container -->
        <section class="container">
            <a href='/goals'>
                <h2>Goals</h2>
                <p>Create Goals.✨</p>
            </a>
        </section>

{% endblock %}

 