{% extends 'layout.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
        <section class="container container--top">
            <h1>
                GASs
            </h1>
            <h2> Goals | Achievemnets | Sucesses</h2>
            <p>Take things step by step, and trust that everything will work out well in the future.</p>
            <p>to create a tasks list click on the button</p>
            <div class="row">
                <button class="lime-sun-btn" type="button">
                    <a href="/goals">Check Ur Goals</a>
                </button>
            </div>
        </section>
        
        <section class="container">
            <h2>Achievemnets</h2>
             <button class="lime-sun-btn" type="button">
                <a href='{% url 'goals:achievements'%}'>
                       See Ur Progress
                </a>          
           </button>
        </section> 
         
        <!-- BOTTOM RIGHT container -->
        <section class="container">
            <a href='/goals'>
                <h2>Goals</h2> 
            </a>
            <button class="lime-sun-btn" type="button">
                <a href='{% url 'goals:create_goal'%}'>
                    Create Goals✨
                </a>
            </button>
        </section>

{% endblock %}

 