<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django App
        {% endblock %}
    </title>
     <link rel="stylesheet" href="{% static 'css/styles.css' %}">
     {% comment %} <script src="{% static 'js/main.js' %}" defer></script> {% endcomment %}
</head>
<body>
    <nav class="simple-nav" role="navigation" aria-label="Main">
       <div class="simple-nav__inner"> 
        <a href="/"><strong>GASs</strong></a>
            <div class="simple-nav__links">
                <a href="/">Home</a>
                <a href="{% url 'users:register' %}">Sign-in </a>
                <a href="/mtable">Tasks</a>
                <a href="{% url 'goals:list' %}">Goals</a>
                <a href="#">Contact</a>
            </div>
        </div>
    </nav>
    <main class="layout">  
        {% block content %}
        {% endblock %}

    </main>
</body>
</html>