{% extends 'layout.html' %}

{% block title %}
 Table
{% endblock %}

{% block content %}
     <div>
        <h1>
            Your Tasks
        </h1>
        <h2> Goals | Achievemnets| Successes</h2>
        <p>Take things step by step, and trust that everything will work out well in the future.</p>
        <p>to create a tasks list click on the button
            <button>
                add task
            </button>
        </p>
        <h2>Sample Table</h2>

        <table>
            <thead>
                <tr>
                    <th>Header 1</th>
                    <th>Header 2</th>
                    <th>Header 3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Row 1, Cell 1</td>
                    <td>Row 1, Cell 2</td>
                    <td>Row 1, Cell 3</td>
                </tr>
                <tr>
                    <td>Row 2, Cell 1</td>
                    <td>Row 2, Cell 2</td>
                    <td>Row 2, Cell 3</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Footer (optional)</td>
                </tr>
            </tfoot>
        </table>

        <button>
            <a href="/">Home</a>
        </button>
    </div>
{% endblock%}